// Define variables for your color scheme

// For example:
$red: #d90343;
$blue: #03aed9;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #636363;
$light-gray: #ffffff;
$pink: #dec1ca;
$gray2: #e6e6e6;
