

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 5px;
  grid-row-gap: 10px;
  place-items: center;
 /*  box-shadow: 3px 3px 3px red; */
}

.card-product {
  font-family: "Oswald";
  display: flex;
  flex-direction: column;
  height: 350px;
  width: 250px;
  background-color: white;
  text-decoration: none;
  color: black;
  border-radius: 10px;
  box-shadow: 1px 1px 3px rgb(99, 94, 94);
}


button {
  /* background-color: rgb(203, 203, 203); */
  background-color: $gray2;
  padding: 5px;
  border-radius: 5px;
  border: none;
  box-shadow: 1px 1px 3px rgb(99, 94, 94);
}

button:hover {
  background-color: rgb(150, 150, 150);
  transition: background-color 0.5s;
}

.no-underline {
  text-decoration: none;
  color: black;
}

.card-image {
  border-radius: 10px;
  box-shadow: 1px 1px 3px rgb(99, 94, 94);
}
