

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 5px;
  grid-row-gap: 10px;
  place-items: center;
 /*  box-shadow: 3px 3px 3px red; */
}

.card-product {
  font-family: "Oswald";
  display: flex;
  flex-direction: column;
  height: 350px;
  width: 250px;
  background-color: white;
  text-decoration: none;
  color: black;
  border-radius: 10px;
  box-shadow: 1px 1px 3px rgb(99, 94, 94);
}

.no-underline {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.card-image {
  border-radius: 10px;
  box-shadow: 1px 1px 3px rgb(99, 94, 94);
}
